
.FORM{
  margin-top: 20px;
  position: fixed;
  left:0;
  bottom: 0;
  width: 100;
  background-color: aquamarine;
  text-align: center;
}
.BACKGROUND {
 
 height: 100vh;
 background-position: fixed;
 background-repeat: no-repeat, repeat;
   background: url('abstract-background-blur-255379.jpg') no-repeat center fixed; 
  background-size: cover;


}
.card {
  background-color: rgba(199, 212, 238, 0.242);
  margin: 10px, 10px, 10px, 10px;
  padding: 10px, 10px, 10px, 10px;
  
  
}

@media(max-width: 720px){
  font-weight: 100;
  font-size: 3rem;
}
