
.FORM{
  position: fixed;
  left:0;
  bottom: 0;
  width: 100;
  background-color: aquamarine;
  text-align: center;
}
.BACKGROUND {
 background-image: url('abstract-background-blur-255379.jpg');
 height: 100vh;

}
.card {
  background-color: rgb(166, 176, 196);
  
}