
.BACKGROUND {
 
 height: 100vh;
 background-position: fixed;
 background-repeat: no-repeat, repeat;
   background: url('abstract-background-blur-255379.jpg') no-repeat center fixed; 
  background-size: cover;


}
.card {
  background-color: rgba(199, 212, 238, 0.242);
  margin: 10px, 10px, 10px, 10px;
  padding: 10px, 10px, 10px, 10px;
   font-family: 'Anton', sans-serif;
  
  
}

@media(max-width: 720px){
  font-weight: 100;
  font-size: 3rem;
}
#audio {
   margin-left: auto;
  margin-right: auto;
    margin-top: 15px;
  margin-bottom: 15px;
  flex-flow: row;
  background-position-x: 25px;

}
#FORM {
  margin-left: 10px;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  
}
.ALBUM {
  margin-top: 300px;
}
#mainNavbar {
  background: rgba(143, 54, 221, 0.851);
  transition: background 500ms;
  height: 250px;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
  color: black;
  font-size: 2rem;
}
.headerText {
    margin-left: 10px;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
font-family: 'Anton', sans-serif;
font-size: 2rem;
}
.form-group {
  margin-left: 10px;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: 'Anton', sans-serif;
}
#available-songs{
    font-family: 'Anton', sans-serif;
  
}
